<header id="showcase" class="grid">
  <div class="bg-image"></div>
  <h1>Ryan Johns</h1>
  <hr>
  <span class="intro-text"></span>
  <div *ngIf="(showScrollPrompter | async)" class="scroll-prompter-row show-for-large-up">
    <span class="scroll-prompter"><a scrollTo href="#scrollTarget"><i class="fa fa-chevron-circle-down"></i></a></span>
  </div>

<main id="main">
  <!-- Section A -->
  <section id="section-a" class="grid">
    <div class="content-wrap">
      <h2 class="content-title">Skills</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
         Architecto sunt pariatur saepe, error incidunt recusandae
        dolorum quidem commodi ea beatae.</p>
    </div>
  </section>
    <!-- Section B -->
    <section id="section-b" class="grid">
        <div class="content-wrap">
          <h2 class="content-title">Worked with</h2>
          <hr>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
             Architecto sunt pariatur saepe, error incidunt recusandae
            dolorum quidem commodi ea beatae.</p>
        </div>
      </section>
</main>
<footer> </footer>
